/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    background-color: #ff4081; /* Pink pastel */
  }
  
  /* Add any other global styles you'd like */
  